.rowPrincipal{
	margin-top: 5%;
	margin-left: 23%;
}

.row{
	margin-top: 5%;
	margin-left: 5%;
}


#addButton{
	width:20%;
	height:110px;
	font-size: large;
	margin-left: 10%;
}

#post{
	width:50%;
	height:110px;
	resize: none;
	
}

.postShow{
	width:100%;
	height:110px;
	resize: none;
	background-color: white;
	border: none;
}


.postOfTheDay{
	width:65%;
	height:23%;
	resize: none;
	background-color: white;
	border: dotted;
	border-color: #c0c0c0;
	
	color: #525252;
	font-size: large;
	
}

.table{
	margin-top: 5%;
}

input[type="radio"] {
    margin-left:10px;
}